<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="bq_business" connectionString="Server=localhost\sqldev01;Database=bq_business;User Id=BQApp; Password=Pa$$w0rd;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
